<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>org.tms.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewMatchServlet</servlet-name>
        <servlet-class>org.tms.servlet.NewMatchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewMatchServlet</servlet-name>
        <url-pattern>/new-match</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>MatchScoreServlet</servlet-name>
        <servlet-class>org.tms.servlet.MatchScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchScoreServlet</servlet-name>
        <url-pattern>/match-score</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MatchesServlet</servlet-name>
        <servlet-class>org.tms.servlet.MatchesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchesServlet</servlet-name>
        <url-pattern>/matches</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
</web-app>